<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme</title>
</head>
<body>
    
    <header>
        <nav>
            
            <ul>
                <a href="/"> <li>Inicio </li></a>
                <a href="/product"> <li>Productos </li></a>
                <a href="#"> <li>Novedades</li></a>
                <a href="#"> <li>Carrito de Compras</li></a>
                <a href="#"> <li> Contactanos</li></a>
            </ul>
        </nav>
    </header>

    <main>

   
    <h1>soy el home</h1>
    </main>
    
</body>
</html>