<!-- HEAD -->
<%- include ("../partials/head", {tituloWeb: "Products",css: "header.css", css2: "product.css", css3: "footer.css",css4:"cart.css", css5:"productDetail.css"}); %>
<body>
    <!-- HEADER -->
    <%- include ("../partials/header") %>


<main>
    <div class="item">
    
<div class="productImage">
    <img src="/img/products/set3.jpg" alt="">
</div>
<div class="item-info">
    <div class="item-text">
    <h2>Tittle: Set 3 conditioner</h2>
    <p class="description">Little description about de product, Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla inventore repellendus aliquam animi itaque velit enim eligendi, eius architecto numquam.</p>
    </div>
    <div class="item-button">
    <p class="price">Price $2.99</p>
        <button type="button">Buy Now</button>
    </div>
    </div>
    </div>
</main> 


<!-- FOOTER -->
<%- include("../partials/footer") %>
</body>
</html>