<header class="header">

 <!-- 
    <div class="navBar">
            <img class="logo" src="img/wireframesEJ/logo.jpg" alt="logo">
            <div class="logo-header">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="menu-icon fas fa-bars"></i><a href="#"></a></i>
                </label>
            </div>
            <form class="form">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                <input class= me-2" type="search" placeholder="   Search" aria-label="Search">
              </form>
    </div> -->

    <nav class="navBar">
      <div class="search d-flex">
        <a><img class="logo" src="/img/wireframesEJ/logo.jpg" alt="logo"></a>
        <div class="logo-header">
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
              <i class="menu-icon fas fa-bars"></i><a href="#"></a></i>
          </label>
      </div>
        <form class="forms d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

            <div class="section">
            <a href="/"> <li>Home </li></a>
            <a href="/product"> <li>Products </li></a>
            <a href="/user/login"> <li>Login/Sign Up </li></a>
            <a href="../user/contact"> <li> Contact us</li></a>
            <a href="/product/shoppingCart" class="cart"><i class="fas fa-shopping-cart"></i>$</a>
             </div>

    

    <nav class="navbarSearch">
       <!--  <div class="logo-header">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu-icon fas fa-bars"></i><a href="#"></a></i>
            </label>
        </div>
        <form class="form">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form> -->
        <!-- <div class="nav-menu container-fluid">
            <ul>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" 
                href="#"><i class="fas fa-user"> </i>Create Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">|Login</a>
              </li>              
            </ul>
            
        </div> -->
      </nav>
   
   
</header>