<!-- HEAD -->
<%- include ("../partials/head", {tituloWeb: "Home",css: "header.css", css2: "index.css", css3: "footer.css"}); %>
<body>
    <!-- HEADER -->
    <%- include ("../partials/header") %>
    
<main>
<div>
    <h1>Sign UP</h1>
</div>
</main> 
    <!-- FOOTER -->
    <%- include("../partials/footer") %>
</body>
</html>